<p>
    Este es el proyecto Quiz para la asignatura de CORE 2017. El proyecto consiste en
    diseñar una "red social" en la cual los usuarios plantean acertijos al resto con tal
    de que éstos los resuelvan.
</p>